In [ ]:
import numpy as np
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')

In [130]:
movie_path = 'C:/Users/rubin/downloads/movies_metadata.csv/movies_metadata.csv'
credits_path = 'C:/Users/rubin/downloads/credits.csv/credits.csv'

In [131]:
movie = pd.read_csv(movie_path, low_memory=False)
info = pd.read_csv(credits_path)

In [132]:
movie = movie[['id','overview','title']]
movie.info()     # id, overview title

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45466 non-null  object
 1   overview  44512 non-null  object
 2   title     45460 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB

In [133]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [134]:
pattern = re.compile(r'\d{4}-\d{2}-\d{2}')
index_list = []

for i in movie.index:
    if re.search(pattern, movie.id[i]):
        index_list.append(i)

index_list

[19730, 29503, 35587]

In [135]:
# movie와 info를 merge하기 위해서는 movie의 id컬럼의 data type을 int로 변경해야 한다.
#movie['id'] = movie.id.astype(int)   # invalid literal for int() with base 10: '1997-08-20'라는 ValueError문구가 뜬다
#movie.index[movie['id']=='1997-08-20']  # 19730
movie.drop(index_list, inplace=True)
movie.reset_index(drop=True, inplace=True)
movie.id = movie.id.astype(int)
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45463 non-null  int32
 1   overview  44509 non-null  object
 2   title     45460 non-null  object
dtypes: int32(1), object(2)
memory usage: 888.1+ KB

In [136]:
df = pd.merge(movie, info, on='id')
df.reset_index(drop=True, inplace=True)
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45538 non-null  int32
 1   overview  44584 non-null  object
 2   title     45535 non-null  object
 3   cast      45538 non-null  object
 4   crew      45538 non-null  object
dtypes: int32(1), object(4)
memory usage: 1.6+ MB

,id,overview,title,cast,crew
0,862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,When siblings Judy and Peter discover an encha...,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [ ]:
# 선생님 방법
''' 
movie_path = 'C:/Users/rubin/downloads/movies_metadata.csv/movies_metadata.csv'
credits_path = 'C:/Users/rubin/downloads/credits.csv/credits.csv'

movie = pd.read_csv(movie_path, low_memory=False)
info = pd.read_csv(credits_path)

df = movie[['id','title','overview']]

index_list = []
for i in df.index:
    if re.search('\d{4}-\d{2}-\d{2}', df.id[i]):
        index_list.append(i)

print(index_list)

df.drop(index_list, inplace=True)
df['id'] = df.id.astype(int)
info['id'] = info.id.astype(int)

df = df.merge(info, on='id')
df.set_index('id', inplace=True)
df.head(3)
'''